@font-face {
    font-family: 'Bebas Neue Bold';
    src: url(BebasNeue.ttf);
}

/* --------------
Переменные и микшены
---------------*/
@accentText: #d25b38;
@generalText: #454443;
@fontBadas: "Bebas Neue Bold";
@fontSans: "Open Sans";
@pText: #666564;
@liteBackground: #ffffff;
@shadBackground: #f4f2f2;

/* --------------
Основные стили
---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: @pText;
}

header {
    background: url(img/backgroundHeader.jpg);
    padding: 58px 200px 25px;
}

.logo {
    background: url(img/Logo_place_here.png);
    display: block;
    width: 294px;
    height: 84px;
    &:hover {
        filter: drop-shadow(2px 2px 2px #ccc);
    }
}
