@import url(BEM/_varibles);

@import url(BEM/about);
@import url(BEM/menu);
@import url(BEM/newsHead);
@import url(BEM/generalCaption);
@import url(BEM/generalText);
@import url(BEM/button);
@import url(BEM/listAbout);

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.top {
    background: #575757 url(img/backgroundHeader.jpg);
    overflow: hidden;
    padding: 58px 0 25px;
    .padding(58px, 200px, 25px);
}

.header_grid {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: end;
    padding-bottom: 25px;
}

.logo {
    background: url(img/Logo_place_here.png);
    display: block;
    height: 84px;
    width: 294px;

    &:hover {
        filter: drop-shadow(2px 2px 2px #ccc);
    }
}

.nav_right {
    grid-column: ~'3/4'
        //grid-row: 1/-1;
}


//@media (max-width:1330px) {
//
//    .top,
//    .about {
//        padding-left: 50px;
//        padding-right: 50px;
//    }
//
//    .listAbout {
//        &__marker {
//
//        &_positionAboutUs {
//            display: none;
//        }
//    }
//
//        &_positionAboutUs {
//            grid-template-areas: "aboutUsRight aboutUsLeft aboutUsLeft"
//        }
//    }
//}
