@font-face {
  font-family: 'Bebas Neue Bold';
  src: url(BebasNeue.ttf);
}
/* --------------
Переменные и микшены
---------------*/
/* --------------
cСброс
---------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #666564;
  text-decoration: none;
}
.about {
  background: #ffffff url(img/aboutCenter.jpg) no-repeat center center;
  background-size: contain;
}
.about_grid {
  padding: 0 200px 0;
  display: grid;
  grid-template-columns: 358px 2fr;
}
.about__item_left {
  padding: 98px 15px;
}
.about__item_right {
  padding: 98px 15px 0 65px;
}
.menu__link {
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 24px;
  font-weight: 400;
  display: block;
  line-height: 28.89px;
  height: 100%;
  padding: 10px;
  width: 100%;
}
.menu__link:hover {
  color: #e3633e;
}
.menu__item {
  list-style-type: none;
}
.menu__item_inline {
  display: inline-block;
}
.newsHead__info {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 25px;
  font-style: italic;
}
.newsHead__info_positionHeader {
  margin-bottom: 70px;
}
.newsHead_positionHeader {
  width: 720px;
  margin-top: 140px;
  margin-bottom: 160px;
}
.genCaption {
  font-family: "Bebas Neue Bold";
  font-size: 95px;
  font-weight: 400;
  line-height: 88.33px;
  text-transform: uppercase;
}
.genCaption__accent {
  color: #e3633e;
}
.genCaption_positionHeader {
  margin-bottom: 50px;
  color: #ffffff;
}
.genCaption_positionAboutUs {
  color: #454443;
}
.genText {
  color: #666564;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.genText_positionAboutUs {
  grid-area: aboutUsLeft;
}
.button {
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button:active {
  transform: scale(0.98);
}
.button_background_orange {
  background-color: #e3633e;
  border: 5px solid #e3633e;
}
.button_background_lite {
  border: 5px solid #ffffff;
}
.button_styleHeader {
  padding: 10px 45px;
  margin-left: 20px;
}
.listAbout__caption {
  border-bottom: 1px solid #ffffff;
}
.listAbout__captionItem {
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-weight: 400;
  line-height: 36.59px;
  text-transform: uppercase;
}
.listAbout__captionItem_fontSize_b {
  font-size: 40px;
}
.listAbout__captionItem_fontSize_s {
  font-size: 25px;
}
.listAbout__captionItem_positionAboutUs {
  text-align: right;
  grid-area: aboutUsRight;
}
.listAbout__marker {
  font-size: 30px;
  transform: scaleX(-1);
  padding: 15px;
  border-radius: 50%;
  border: 10px solid rgba(227, 99, 62, 0.7);
}
.listAbout__marker_positionAboutUs {
  align-self: center;
  grid-area: marker;
}
.listAbout_positionAboutUs {
  display: grid;
  grid-template-columns: 32% max-content 1fr;
  grid-template-areas: "aboutUsRight marker aboutUsLeft";
  grid-column-gap: 20px;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.top {
  background: #575757 url(img/backgroundHeader.jpg);
  overflow: hidden;
  padding: 58px 0 25px;
  padding: 58px 200px 25px;
}
.header_grid {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: end;
  padding-bottom: 25px;
}
.logo {
  background: url(img/Logo_place_here.png);
  display: block;
  height: 84px;
  width: 294px;
}
.logo:hover {
  filter: drop-shadow(2px 2px 2px #cccccc);
}
.nav_right {
  grid-column: 3/4;
}
